.leaflet-control-locationlist-arrow-next { 
		background-image: url('../images/general/arrowRight.png');
		float: left;
		border-top-left-radius: 0px !important;
		border-bottom-left-radius: 0px !important;
		border-top-right-radius: 4px !important;
		border-bottom-right-radius: 4px !important;	}
.leaflet-control-locationlist-arrow-prev { 
		background-image: url('../images/general/arrowLeft.png');
		float: left;
		border-top-left-radius: 4px !important;
		border-bottom-left-radius: 4px !important;
		border-top-right-radius: 0px !important;
		border-bottom-right-radius: 0px !important;
		}
.leaflet-control-locationlist {
	background-color : transparent;	
	text-align:justify ;	
}
.leaflet-control-locationlist-arrows {
    background-color : rgba(0,0,0,0);	
	box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	border-radius: 4px;	
	display:inline-block;
}

.leaflet-control-locationlist-form {
	background-color : rgba(0,0,0,0);
	box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	border-radius: 4px;	
}

.leaflet-control-locationlist-list {
	border-radius: 4px;	
}